{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
   <!-- Main -->

 <div class="p-4 bg-light min-vh-100">
    <div class="p-4 bg-white rounded-1 shadow-1" >
        <div class="fs-40 text-center  ">Первые действия в качестве руководителя организации.</div>
    </div>
    <!-- Splide -->
    <!-- <div class="p-4 bg-white rounded-1 mt-4">
      <div id="image-slider1" class="splide vh-50">
         <div class="splide__track h-100">
            <ul class="splide__list h-100">
               <li class="splide__slide h-100">
                  <img class="w-100 h-100 object-fit" src="https://thumbs.gfycat.com/GenerousColossalCurlew-size_restricted.gif">
                </li>
            </ul>
         </div>
      </div>
  </div> -->
   <div class="grid-2 gap-2 mt-5">
      <div class=" bg-white rounded-1 shadow-1 parent">
         <div class=" pagination   bg-blue text-white   mr-3 fs-25 b-2">1</div>
         <div class="p-4 pt-5">
            <div class="d-flex align-items-center ">
               <div class="b-1 fs-24 ">Шаг первый - Сбор информаций.</div>
            </div>
            <div class="hr-dark-light"></div>
            <p class="fs-17" style="line-height: 1.5;">
               В любой сфере деятельности, перед началом управления,
               нужно уделять особое внимание сборе информаций. Сюда входит: 
               
            </p>
            <div class="grid-2 gap-1">
               <div class="b-1 fs-17 px-3 py-2 border-dark-light rounded-1">Система управления </div>
               <div class="b-1 fs-17 px-3 py-2 border-dark-light rounded-1">Резюме персоналов </div> 
               <div class="b-1 fs-17 px-3 py-2 border-dark-light rounded-1">Бухгалтерия</div> 
               <div class="b-1 fs-17 px-3 py-2 border-dark-light rounded-1">Юриспруденция</div>
            </div>
         </div>
      </div>
      <div class=" bg-white rounded-1 shadow-1 parent">
         <div class=" pagination   bg-blue text-white   mr-3 fs-25 b-2">2</div>
         <div class="p-4 pt-5">
            <div class="d-flex align-items-center ">
               <div class="b-1 fs-24 ">Шаг второй - Поиск асистента.</div>
            </div>
            <div class="hr-dark-light"></div>
            <p class="fs-17" style="line-height: 1.5;">
               В любой известной компании, у каждого руководителя есть свой асистент или
               правая рука. Эти люди являются поддержкой руководителя. Образно говоря, это тот
               же руководитель, занимающийся второстепенными делами, которое выматывает и отнимает
               не мало времени. Правильный выбор такого сотрудника - залог успеха.
            </p>
         </div>
      </div>
      
   
   </div>
   <div class="grid-2 gap-1 mt-5">
      <div class=" bg-white rounded-1 shadow-1 parent">
         <div class=" pagination   bg-blue text-white   mr-3 fs-25 b-2">3</div>
         <div class="p-4 pt-5">
            <div class="d-flex align-items-center ">
               <div class="b-1 fs-24 ">Шаг третий - Реформа.</div>
            </div>
            <div class="hr-dark-light"></div>
            <p class="fs-17" style="line-height: 1.5;">
               Как начинающий руководитель, в первую очередь, я бы подстроил всю систему управления под себя. 
               У каждого руководителя свои методы и подходы 
               к управлению. Так же, важно провести собеседование с каждым работником компании, для 
               дальнейшего отсева, так как один квалифицированный сотрудник может заменить двух или более
               сотрудинков. Важно не количество а качество, которое цениться везде.
            </p>
         </div>
      </div>
      <div class=" bg-white rounded-1 shadow-1 parent">
         <div class=" pagination   bg-blue text-white   mr-3 fs-25 b-2">4</div>
         <div class="p-4 pt-5">
            <div class="d-flex align-items-center ">
               <div class="b-1 fs-24 ">Шаг Четвертый - Внедрение CRM системы.</div>
            </div>
            <div class="hr-dark-light"></div>
            <p class="fs-17" style="line-height: 1.5;">
               CRM - прикладное программное обеспечение для организаций, предназначенное для 
               автоматизации, помогающая контролировать компанию изнутри. Каждый руководитель,
               должен иметь при себе такое оружие. 
               
            </p>
          
         </div>
      </div>
     
   </div>
   <div class="grid-1 gap-1 mt-5">
      <div class=" bg-white rounded-1 shadow-1 parent">
         <div class=" pagination   bg-blue text-white   mr-3 fs-25 b-2">5</div>
         <div class="p-4 pt-5">
            <div class="d-flex align-items-center ">
               <div class="b-1 fs-24 ">Шаг пятый - Регулярные встречи с сотрудниками</div>
            </div>
            <div class="hr-dark-light"></div>
            <p class="fs-17" style="line-height: 1.5;">
               В ходе таких встреч руководитель:
               <div class="grid-2 gap-1 ">
                  <div class="px-3 py-2 rounded-1 border-dark-light">
                     прокачивает soft skills и управленческие навыки (например, умение вести за собой команду);
                  </div>
                  <div class="px-3 py-2 rounded-1 border-dark-light">
                     Получает возможность объясниться с сотрудниками
                  </div>
                  <div class="px-3 py-2 rounded-1 border-dark-light">
                     выслушивает конструктивную критику от нелояльных работников, которые могут посмотреть на процессы в компании без «розовых очков»;
                  </div>
                  <div class="px-3 py-2 rounded-1 border-dark-light">
                     помогает создать в компании комфортную среду;
                  </div>
                
               </div>
            </p>
         </div>
      </div>
     
     
   </div>

   <div class="p-4 bg-white rounded-1 shadow-1 mt-5" >
      <div class="fs-25 text-center  ">Выполнинил: Хамраев Амир.</div>
  </div>
 </div>

 <script>
   //  document.addEventListener( 'DOMContentLoaded', function () {

   //       var header = new Splide( '#image-slider1' );
   //       header.mount()

         

   //    } );
 </script>
{% endblock %}